{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PDF-Japanese-Converter</title>
    <!-- <link rel="stylesheet" href="style.css" /> -->
    <link rel="stylesheet" type="text/css" href="{% static './style.css' %}" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header>
      <h2 class="title">PDF Japanese Converter</h2>
      <nav>
        <ul class="header-nav">
          <li><a href="">Contact</a></li>
          <li><a href="">Twitter</a></li>
        </ul>
      </nav>
      <nav class="sp-nav">
        <ul>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Twitter</a></li>
          <li class="close"><span>とじる</span></li>
        </ul>
      </nav>
      <div id="hamburger">
        <span></span>
      </div>
    </header>

    <section>
      <div class="container">
        <div class="pdf-card-box">
          <div class="pdf-content-box">
            <h3><i class="fas fa-file-pdf"></i> PDF Japanese Converter</h3>
            <p>This site is that pdf japanese converter.</p>
            <p>Please drop your English pdf like studies etc...</p>
            <!-- pdfドロップエリア -->
            <form
              action=" {% url 'pdfJapaneseConverter:convert'  %}"
              method="post"
              enctype="multipart/form-data"
            >
              {% csrf_token %}
              <div class="pdf-drop-box">
                <input
                  type="file"
                  name="pdf-file"
                  class="pdf-input"
                  accept=".pdf"
                />
              </div>
              <input
                type="submit"
                class="submit-button"
                value="Convert and Download"
              />
            </form>
          </div>
        </div>
        <div class="testArea">
          <h2>Data display</h2>
          {% if upload_file_url %}
          <p>
            アップロード時刻<a href="{{ upload_file_url }}"
              >{{ upload_file_url }}</a
            >
          </p>
          {% endif %}
        </div>
      </div>
    </section>

    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <!-- <script src="js/index.js"></script> -->
    <script type="text/javascript" src="{% static './index.js' %}"></script>
  </body>
</html>
